<footer class="d-flex justify-content-around">
    <div class="rodaPE ">
        &copy;copyright 2022
    </div>
    <div class="rodaPE ">
        <a href="Erro.html">Desenvolvedores</a>
    </div>
    <div class="rodaPE">
        <a href="Erro.html">Precisa de ajuda?</a>
    </div>
</footer>