<header class="row justify-content-between align-items-center">
    <!--div da logo-->
    <div class="col d-flex justify-content-start">
        <img class="logo" src="./imagens/HomeS.png">
    </div>
    
    <!--div da barra de pesquisa-->
    <div class="col d-flex justify-content-center">
        <div class="divBusca rounded-pill">
            <input type="text" class="txtBusca" placeholder="O que gostaria de saber..." />
            <button class="lupa"><img src="imagens/search.svg" class="btnBusca" alt="Buscar" /></button>
        </div>
    </div> 

    <div class="col d-flex justify-content-around">
        <!--div do link para notícias-->
        <a class="links" href="noticias.html">Notícias</a>

        <!--div para página de login-->
        <a class="links" href="cadastro-login.html">Entre</a>
    

    <!--div para troca de tema - TEMPORÁRIO-->
        <input class="input-check" type="checkbox" id="checkbox">
        <label class="checkbox" for="checkbox">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-circle-half" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
            </svg>
        </label>
    </div>
</header>