*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

:root{
  --cor1: #FFF;
  --cor2: #000;
}


body{
  background-color: var(--cor2);
}
h1{
  color: var(--cor1);
}
label.checkbox svg{
  fill: var(--cor1);
}