@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;700&display=swap');
:root{
    --verde-base: #3DF5A7;
    --azul-base: #096FE0;
    --preto-base: #0f0f0f;
    --branco-base: #f0f0f0;
    --branco-fundo: #E6E6E6;
    --preto-fundo: #1B1B1B;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: var(--azul-base);
}

.voltar{
  position: absolute;
  top: 1rem;
  left: 2rem;
}
.voltar a{
  text-decoration: none;
  color: var(--branco-base);
}
.voltar a:hover{
  color: var(--verde-base);
}

.escolha{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--branco-base);
  max-width: 30rem;
  margin: auto;
  margin-top: 7rem;
  gap: 5rem;
  padding-block: 5rem;
  border-radius: 2rem;
}
.escolha a{
  text-decoration: none;
}

.cadastro{
  background-color: var(--azul-base);
  color: var(--branco-base);
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.cadastro:hover{
  outline-offset: -3px;
  outline: 3px solid var(--verde-base);
  transition: 0.3s;
}

.login{
  background-color: var(--verde-base);
  color: var(--preto-base);
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.login:hover{
  outline-offset: -3px;
  outline: 3px solid var(--azul-base);
  transition: 0.3s;
}