main.main {
  font-family: 'Open Sans', sans-serif;
  color: var(--branco-base);
  background: linear-gradient(135deg, var(--azul-base), var(--verde-base));
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

/*botão de voltar */
.voltar {
  position: absolute;
  top: 1rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.voltar{
  text-decoration: none;
  color: var(--branco-base);
  font-weight: 700;
  transition: 300ms;
}
.voltar:hover {
  color: var(--verde-base);
  transition: 300ms;
}




