@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;700&display=swap");

.main,
.Entrar {
  font-family: "Open Sans", sans-serif;
  background-color: var(--branco-de-fundo);
  color: var(--preto-base);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding-bottom: 5rem;
}

.card {
  margin-top: calc(var(--header) + 5rem);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.imagem {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20rem;
  height: 20rem;
}

.botao-principal {
  border: none;
  color: var(--branco-base);
  padding: 1rem 4rem;
  margin: auto;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--azul-base);
  border-radius: 20rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  transition: 250ms;
}

.lorem {
  margin-block-end: 3rem;
}

.texto-fotos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.texto-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 20rem;
}
.texto-1 h2 {
  font-size: 1.5rem;
}

.texto-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 20rem;
}
.texto-2 h2 {
  font-size: 1.5rem;
}

.card {
  width: 70vw;
  height: 20vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

.main {
  width: 77vw;
  height: 85vh;
}
