.header {
  background-color: var(--branco-base);
  display: flex;
  position: fixed;
  z-index: 10;
  height: var(--header);
  padding: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
