/*=============GERAL=============*/
:root {
    /*cores*/
    --azul-base: #096fe0;
    --verde-base: #3df5a7;
    --branco-base: #f0f0f0;
    --preto-base: #0f0f0f;
    --branco-de-fundo: #e6e6e6;
    --preto-de-fundo: #1b1b1b;
    --branco-maximo: #ffffff;
}
* {
    box-sizing: border-box;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

/*=============HEADER=============*/
header.header {
    background-color: var(--preto-base);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 2rem;
}

.logo-hs {
    width: 8rem;
}

/*barra de pesquisa*/
.divBusca {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--branco-maximo);
    width: fit-content;
    border-radius: 3rem;
}
.txtBusca {
    background-color: transparent;
    padding-left: .5rem;
    font-style: italic;
    font-size: 1rem;
    border: none;
    height: 1.5rem;
    width: 20rem;
    outline: none;
}
.lupa {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 2rem;
}

/*links*/
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin-right: 2rem;
}
.link {
    text-decoration: none;
    color: var(--branco-base);
}
.link:hover {
    text-decoration: none;
    color: var(--verde-base);
}

/*botão de troca de tema*/
.botao {
    align-items: center;
}
.input-check {
    display: none;
}
label.checkbox svg {
    fill: var(--branco-base);
}

/*menu-hamburguer*/
#btn-mobile {
    display: none;
}

/*=============FEED=============*/
section {
    background-color: var(--preto-de-fundo);
}
/*Coluna de navegação*/
.barra-lateral {
    background-color: var(--preto-base);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    gap: 3rem;
}
.barra-lateral a {
    text-decoration: none;
    color: var(--branco-base);
}
.barra-lateral a:hover {
    color: var(--verde-base);
}
li {
    list-style-type: none;
    padding: 2% 5%;
    margin-left: 10%;
}
/*feed*/
.feed {
    padding-top: 2rem;
    background-color: var(--preto-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-3 navegacao {
    text-decoration: none;
}
.card {
    background-color: var(--preto-base);
    border: 1px solid var(--preto-base);
    margin-bottom: 3rem;
}
.card-body {
    background-color: var(--verde-base);
}

/*=============FOOTER=============*/
footer {
    background-color: var(--preto-base);
}
.rodaPE {
    justify-content: center;
    align-items: center;
}
footer .rodaPE {
    height: auto;
    padding: 30px 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--branco-base);
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
    color: var(--verde-base);
}
footer a {
    text-decoration: none;
    color: var(--branco-base);
}

/*=============MOBILE=============*/
@media screen and (max-width: 768px) {
    .navegacao {
        display: none;
    }
    header .parte3Header {
        display: none;
    }
}
