<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/cadastro.css">
    <link rel="stylesheet" href="./css/root.css">
    <title>Cadastre-se</title>
</head>

<body>
    <div class="voltar">
        <a href="/">
            <h4>&#8656;Voltar para a página inicial</h4>
        </a>
    </div>

    <img class="logo-fundo" src="" alt="Logo Home Study">
    <div class="cadastro">
        <div class="toptitle">
            <h3>CADASTRE-SE</h3>
        </div>
        <div class="SOCORRO">
          
            <form class="form">
                <div class="cadastro_div">
                    <label class="label_cadastro" for="fname">Nome completo</label>
                    <input class="input_cadastro" type="text" name="name" placeholder="Digite seu nome...">
                </div>
                <div class="cadastro_div">
                    <label class="label_cadastro" for="email">Email</label>
                    <input class="input_cadastro" type="email" name="email" placeholder="you@example.com">
                </div>
                <button class="button" type="button" onclick="enviar()">Avançar</button>
                <div class="link-login">
                    Já tem uma conta?<br>
                    <a href="/login">Faça seu login</a>
                </div>
                
            </form>
        </div>
    </div>
    <script src="../../service/NewUserApi.js"></script>
</body>

</html>