<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro-login.css">
    <link rel="stylesheet" href="./css/root.css" id="tema">
    <link rel="stylesheet" href="./css/header.css">
    <title>Cadastre-se | Conecte-se</title>
</head>

<body>

    <%- include("../partials/headerEntrar") %>

        <main>
            <div class="card">
                <div class="texto-botao">
                    <div class="lorem">
                        <h1>Conecte-se com milhões de pessoas</h1>
                        <h3>Nossa ideia é propagar o ensino onde você estiver</h3>
                    </div>
                    <div>
                        <a href="/cadastro">
                            <button class="botao-principal">COMEÇAR AGORA</button>
                        </a>
                    </div>
                </div>
                <div class="imagem"></div>
            </div>

            <div class="frase">
                <div>
                    <h2>Ensino online, gratuito, para todo mundo</h2>
                </div>
            </div>
            <div class="texto-fotos">
                <div class="texto-1">
                    <h2>Aprenda várias matérias</h2>
                    <br>
                    <p>Todas as matérias base e matérias extracurriculares em apenas um único lugar
                    </p>

                </div>
                <div class="photo"></div>
            </div>
            <div class="texto-fotos">
                <div class="photo-1"></div>
                <div class="texto-2">
                    <h2>Estude em qualquer lugar</h2>
                    <br>
                    <p>Tudo que você precisa é conexão com a nossa plataforma,
                        a partir daí todo o conhecimento pode ser alcançado
                    </p>
                </div>
            </div>
            <div class="photo-materias">

            </div>
        </main>


        <script type="text/javascript" src="./js/trocaDeTema.js"></script>
</body>

</html>