<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro-login.css">
    <link rel="stylesheet" href="./css/root.css" id="tema">
    <title>Cadastre-se ou Faça seu Login</title>
</head>

<body>

    <div class="header">
        <div class="botoes">
            <div class="entrar">

                <button class="botao-entrar-cadrastar">Entrar</button>

            </div>
            <div class="cadrastar">

                <button class="botao-entrar-cadrastar">Cadastra</button>

            </div>
        </div>
    </div>

    <div class="pagina">

        <div class="card">
            <div class="texto-botao">
                <div class="lorem">
                    <h1>Lorem, ipsum dolor sit amet?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                </div>
                
                <div>
                    <button class="botao-principal">COMEÇAR AGORA</button>
                </div>

            </div>
            
            <div class="img">

                <div class="imagem"></div>

            </div>
        </div>


    </div>

</body>

</html>