<!DOCTYPE html>
<html lang="pt-br">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" id="tema">
        <link rel="stylesheet" href="css/header.css" id="temaHeader">
        <link rel="stylesheet" href="css/footer.css" id="temaFooter">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <title>Home Study</title>
    </head>

<body>

    <!--Header-->
    <%- include('../partials/header') %>

        <main>
            <!--Coluna de navegação-->
            <nav class="barra-lateral">
                <ul class="lista">
                    <li><a href="/usuario">Perfil</a></li>
                    <li><a href="/erro">Crie seu Cronograma</a></li>
                    <li><a href="#">Grupos</a></li>
                    <li><a href="#">Provas anteriores</a></li>
                    <li><a href="#">Simulados</a></li>
                    <li><a href="#">Gabaritos</a></li>
                    <li><a href="#">Encontre um Professor</a></li>
                </ul>
            </nav>

            <!--Stories-->
            <div class="feed">
                <div class="card">
                    <div class="middle">
                        <div class="stories">
                            <div class="story">
                                <div class="profile-photo">
                                    <!--=============FOTOS DOS STORIES=============-->
                                    <img src="/imagens/profile-6.jpg">
                                </div>
                                <p class="neme">Seu Story</p>
                            </div>
                            <div class="story">
                                <div class="profile-photo">
                                    <img src="/imagens/profile-7.jpg">
                                </div>
                                <p class="neme">Helena</p>
                            </div>
                            <div class="story">
                                <div class="profile-photo">
                                    <img src="/imagens/profile-8.jpg">
                                </div>
                                <p class="neme">João</p>
                            </div>
                            <div class="story">
                                <div class="profile-photo">
                                    <img src="/imagens/profile-9.jpg">
                                </div>
                                <p class="neme">Arthur</p>
                            </div>
                            <div class="story">
                                <div class="profile-photo">
                                    <img src="/imagens/profile-4.jpg">
                                </div>
                                <p class="neme">Laura</p>
                            </div>
                            <div class="story">
                                <div class="profile-photo">
                                    <img src="/imagens/profile-3.jpg">
                                </div>
                                <p class="neme">Alice</p>
                            </div>
                        </div>
                    </div>

                    <!--=============CARDS DO FEED=============-->
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-6.jpg">
                                        </div>

                                        <!--============NOME DE USUARIO=============-->
                                        <div class="ingo">
                                            <h3>Valentina Souza</h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <!--=============FOTO DO USUARIO=============-->
                                <div class="photo">
                                    <img src="/imagens/feed-1.jpg">
                                </div>

                                <!--=============ICONES DOS CARDS=============-->
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>

                                <!--=============CURTIDAS E COMENTARIOS=============-->
                                
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>Valentina</b> Lorem ipsum dolor sitwasd. <span
                                            class="harsh-tag">#lifestyle</span></p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>

                    <!--=============REPETINDO O HTML DOS CARDS=============-->
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-1.jpg">
                                        </div>
                                        <div class="ingo">
                                            <h3>Adriana Santos</h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <div class="photo">
                                    <img src="/imagens/feed-2.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>Adriana</b> Lorem ipsum dolor sitwasd. <span
                                            class="harsh-tag">#lifestyle</span></p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-8.jpg">
                                        </div>
                                        <div class="ingo">
                                            <h3>João Miguel</h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <div class="photo">
                                    <img src="/imagens/feed-3.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>João</b> Lorem ipsum dolor sitwasd. <span class="harsh-tag">#lifestyle</span>
                                    </p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-3.jpg">
                                        </div>
                                        <div class="ingo">
                                            <h3>Heloísa Silva</h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <div class="photo">
                                    <img src="/imagens/feed-4.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>Heloísa</b> Lorem ipsum dolor sitwasd. <span
                                            class="harsh-tag">#lifestyle</span></p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-4.jpg">
                                        </div>
                                        <div class="ingo">
                                            <h3>Manuela Soares </h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <div class="photo">
                                    <img src="/imagens/feed-5.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>Manuela</b> Lorem ipsum dolor sitwasd. <span
                                            class="harsh-tag">#lifestyle</span></p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-5.jpg">
                                        </div>
                                        <div class="ingo">
                                            <h3>Ana Laura</h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <div class="photo">
                                    <img src="/imagens/feed-6.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>Ana Laura</b> Lorem ipsum dolor sitwasd. <span
                                            class="harsh-tag">#lifestyle</span></p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="feed2">
                            <div class="feeds2">
                                <div class="head">
                                    <div class="user">
                                        <div class="profile-photo">
                                            <img src="/imagens/profile-7.jpg">
                                        </div>
                                        <div class="ingo">
                                            <h3>Roberta Santos</h3>
                                            <small>Recife, 15 MINUTES AGO</small>

                                        </div>
                                    </div>
                                    <span class="edit"><i class="uil uil-ellipsis-h"></i>
                                    </span>
                                </div>

                                <div class="photo">
                                    <img src="/imagens/feed-7.jpg">
                                </div>
                                <div class="action-buttons">
                                    <div class="interaction-buttons">
                                        <span><i class="uil uil-heart"></i></span>
                                        <span><i class="uil uil-comment-dots"></i></span>
                                        <span><i class="uil uil-share-alt"></i></span>
                                    </div>
                                    <div class="bookmark">
                                        <span><i class="uil uil-bookmark"></i></span>
                                    </div>
                                </div>
                                <div class="liked-by">
                                    <span><img src="/imagens/profile-5.jpg"></span>
                                    <span><img src="/imagens/profile-8.jpg"></span>
                                    <span><img src="/imagens/profile-15.jpg"></span>
                                    <p>Curtido por <b> Helena Soares </b> e outras <b> 2,654 pessoas </b></p>
                                </div>
                                <div class="caption">
                                    <p><b>Roberta</b> Lorem ipsum dolor sitwasd. <span
                                            class="harsh-tag">#lifestyle</span></p>
                                </div>
                                <div class="comentarios">Ver todos os 37 comentários</div>
                            </div>
                        </div>
                    </div>







                </div>
                <!--
                <div nome="Fisica">
                        <div class="card" style="width: 35.2rem;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3VLPyOLC1nc"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div class="card" style="width: 35.2rem;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/GYxXCr6HXcw"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>

                        <div class="card" style="width: 35.2rem;">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/5AEZCsEAopY"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                </div>
                <div nome="Mathematics">
                            <div class="card" style="width: 35.2rem;">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/xpv-SWbDUr8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card" style="width: 35.2rem;">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/nysu0K-VXR8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card" style="width: 35.2rem;">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/myS0xE4XMJc"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                </div>
                <div nome="Filosofia">
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ydnyMeF1L0Y"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>    

                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/i3zVNLz3rFE"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2PilSKebR9g"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>  
                        </div>
                    </div>
                </div>
                <div nome="Sociologia">
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZdIrgqd7keI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/T4PU3uLRdSs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/hGKAaVoDlSs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div nome="Quimica">
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TW1HTyTissw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div> 
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ahSWE6aE2DM"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/SbblIkgoaEE"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div nome="Geografia">
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WYkUVasw-DY"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CpkjTkCFOjQ"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/rdKevGqEmTU"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div nome="Historia">
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/6NbSXIdObDk"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9fx9p-tvD0s"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 35.2rem;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/IWNIikxbv_A"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                -->
            </div>

        </main>
        <%- include('../partials/footer') %>
            <script src="js/paginaInicial.js"></script>
</body>

</html>