<!DOCTYPE html>
<html lang="pt-br">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="./css/root.css" id="tema">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/footer.css">
        <link rel="stylesheet" href="./css/empty.css">

        <title>Home Study</title>
    </head>

<body>

    <!--Header-->
    <%- include('../partials/header') %>

        <main>
            <!--Coluna de navegação-->
            <nav class="barra-lateral">
                <ul class="lista">
                    <li><a href="/usuario">Perfil</a></li>
                    <!-- <li><a href="/erro">Crie seu Cronograma</a></li> -->
                    <li><a href="#">Grupos</a></li>
                    <!-- <li><a href="#">Provas anteriores</a></li>
                    <li><a href="#">Simulados</a></li> -->
                    <!-- <li><a href="#">Gabaritos</a></li>
                    <li><a href="#">Encontre um Professor</a></li> -->
                </ul>
            </nav>

            <div class="feed">
                <%- include('../partials/empty') %>
            </div>

        </main>
        <%- include('../partials/footer') %>
            <script type="text/javascript" src="./js/paginaInicial.js"></script>
            <script type="text/javascript" src="./js/trocaDeTema.js"></script>
</body>

</html>