<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="./css/root.css">
    <title>Login</title>
</head>

<body>
    <div class="voltar">
        <a href="/">
            <h4>&#8656;Voltar para a página inicial</h4>
        </a>
    </div>

    <main class="main">
        <div class="texto-cadrasto">
            <h1>Conecte-se com <span>milhões</span><br>
                de pessoas em todo o país</h1>

        </div>
        <div class="cadastro">
            <h2>CONECTE-SE</h2>
            <form class="form">
                <div class="cadastro_div">
                    <label class="label_cadastro" for="email">Seu email</label>
                    <input class="input_cadastro" type="email" name="email" placeholder="Digite seu email...">
                </div>
                <div class="cadastro_div">
                    <label class="label_cadastro" for="email">Sua senha</label>
                    <input class="input_cadastro" type="email" name="email" placeholder="Digite sua senha...">
                </div>


                <div class="botao">
                    <button class="button" type="button" onclick="">Conectar</button>
                    <div class="link-login">
                        Ainda não tem conta?<br>
                        <a href="/cadastro">Faça seu cadastro</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>