<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="./css/root.css">
    <title>Login</title>
</head>

<body>
    <div class="voltar">
        <a href="/">
            <h4>&#8656;Voltar para a página inicial</h4>
        </a>
    </div>

    <img class="logo-fundo" src="" alt="Logo Home Study">
    <div class="cadastro">
        <div class="toptitle">
            <h3>LOGIN</h3>
        </div>
        <div class="SOCORRO">
            
            <form class="form"> 
                <div class="cadastro_div">
                    <label class="label_cadastro" for="email">Email</label>
                    <input class="input_cadastro" type="email" name="email" placeholder="email@example.com">
                </div>
                <div class="cadastro_div">
                    <label class="label_cadastro" for="fname">Senha</label>
                    <input class="input_cadastro" type="password" name="name" placeholder="Digite sua senha...">
                </div>
                <button class="button" type="button">Avançar</button>
                <div class="link-Cadastro">
                    Não tem uma conta?
                    <a href="/cadastro">Cadastre-se</a>
                </div>
                
            </form>
        </div>
    </div>
    
</body>

</html>