@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: aqua;
  width: 100%;
  height: 6.5vw;
  display: flex;
  justify-content: end;
  align-items: center;
}

.botoes {
  display: flex;
}

.entrar {
  margin-right: 3rem;
}

.cadrastar {
  margin-right: 5rem;
}

.pagina {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 50.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: antiquewhite;
  width: 400px;
  height: 400px;
}