/*=============GERAL=============*/
* {
  box-sizing: border-box;
  font-family: 'Arial';
  margin: 0;
  padding: 0;
}

/*=============FOOTER=============*/
footer {
  background-color: var(--branco-base);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  height: var(--header);
  color: var(--preto-base);
}
footer a:hover {
  text-decoration: none;
  color: var(--azul-base);
}
footer a {
  text-decoration: none;
  color: var(--preto-base);
}