/*=============GERAL=============*/
* {
    box-sizing: border-box;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

/*=============HEADER=============*/
header.header {
    background-color: var(--branco-base);
    display: flex;
    position: fixed;
    z-index: 10;
    height: var(--header);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 2rem;
    text-decoration: none;
}

.logo-hs {
    width: 8rem;
}

/*barra de pesquisa*/
.divBusca {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--branco-maximo);
    width: calc(var(--busca-size) + var(--size-lupa) + 0.5rem);
    border-radius: 3rem;
}
.txtBusca {
    background-color: transparent;
    padding-left: 0.5rem;
    font-style: italic;
    font-size: 1rem;
    border: none;
    height: 2rem;
    width: var(--busca-size);
    outline: none;
}
.lupa {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/*links*/
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    margin-right: 2rem;
}
.link {
    text-decoration: none;
    color: var(--preto-base);
}
.link:hover {
    text-decoration: none;
    color: var(--azul-base);
}

/*botão de troca de tema*/
.botao {
    align-items: center;
}
.input-check {
    display: none;
}
label.checkbox svg {
    fill: var(--preto-base);
}