/*=============GERAL=============*/

* {
    box-sizing: border-box;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

/*=============FEED=============*/
main {
    background-color: var(--branco-de-fundo);
    display: flex;
    justify-content: space-between;
}
/*feed*/
.feed {
    display: flex;
    margin-top: calc(var(--header) + 1rem);
    margin-left: var(--barra-lateral);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Coluna de navegação*/
.barra-lateral {
    background-color: var(--branco-base);
    font-size: 1rem;
    display: flex;
    position: fixed;
    margin-top: var(--header);
    height: 100%;
    width: var(--barra-lateral);
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    gap: 3rem;
}

.lista li a {
    text-decoration: none;
    color: var(--preto-base);
}

.lista li a:hover {
    color: var(--azul-base);
}

li {
    list-style-type: none;
    padding-left: 2rem;
    padding-bottom: 4rem;
}


/*=============MOBILE=============*/
@media screen and (max-width: 768px) {
    .txtBusca {
        background-color: transparent;
        padding-left: 10px;
        font-style: italic;
        font-size: 14px;
        border: none;
        height: 25px;
        /*width: 20rem;*/
        outline: none;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background-color: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transform: 0.6s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #menu {
        display: block;
        position: static;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--branco-base);
        height: 0px;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(1000vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        font-size: large;
    }

    .alin-itens {
        text-align: center;
        padding: 3% 0;
    }

    .feed {
        padding-top: 2rem;
        background-color: var(--branco-de-fundo);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .col-3 navegacao {
        text-decoration: none;
    }

    .card {
        background-color: var(--preto-base);
        border: 1px solid var(--preto-base);
        margin-bottom: 3rem;
    }

    .card-body {
        background-color: var(--azul-base);
    }

    .barra-lateral {
        background-color: var(--branco-base);
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: flex-start;
        gap: 0rem;
    }

    .botao {
        align-items: center;
        padding-top: 2px;
    }

    .links {
        font-size: 20px;
        padding-top: 0px;
        text-decoration: none;
        color: var(--preto-base);
    }

    #log {
        padding-left: 50px;
    }

    #not {
        padding-right: 50px;
    }
}