/*=============GERAL=============*/
:root{
    /*cores*/
    --azul-base: #096FE0;
    --verde-base: #3DF5A7;
    --branco-base: #F0F0F0;
    --preto-base: #0F0F0F;
    --branco-de-fundo: #E6E6E6;
    --preto-de-fundo: #1B1B1B;
    --branco-maximo: #FFFFFF;
}
*{
    box-sizing: border-box;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
.row{
    --bs-gutter-x: 0rem !important;
}
/*=============HEADER=============*/
header{
    background-color: var(--preto-base);
}
/*Logo*/
.logo{
    width:150px; 
    margin-top: -13px;
}
/*barra de pesquisa*/
.divBusca{
    background-color: var(--branco-maximo);
    width: max-content;
}
.txtBusca{
    background-color:transparent;
    padding-left:10px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:25px;
    width: 20rem;
    outline: none;
}
.btnBusca{
    padding-right: 7px;
    padding-bottom: 4px;
}
.lupa{
    border: none;
    background-color: transparent;
}
/*links*/
.links {
    text-decoration: none;
    color: var(--branco-base);
}
.links:hover{
    text-decoration: none;
    color:var(--verde-base);
}
/*botão de troca de tema*/
.input-check{
    display: none;
}
label.checkbox svg{
    fill: var(--branco-base);
}

/*menu-hamburguer*/
.hamburger{
    height: 26px;
    display: none;
    align-items: flex-end;
    justify-content: right;
}
#checkbox-menu{
    position: absolute;
    opacity: 0;
}
label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}
label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--branco-base);
    transition: 0.25 ease-in-out;
}
label span:nth-child(1){
    top: 0;
}
label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}
#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

/*=============MAIN=============*/
main.main{
    background-color: var(--preto-de-fundo);
}

/*=============Perfil-usu=============*/
.info_perfil{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: url("../imagens/fundo-user.png");
    background-position: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: var(--branco-base);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgb(0, 0, 0));
}
.button-edit{
    width: fit-content;
    height: fit-content;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--verde-base);
    outline-offset: -1px;
    outline: 1px solid var(--branco-base);
    transition: 0.2s;
}
.button-edit:hover{
    outline-offset: -1px;
    outline: 1px solid var(--branco-base);
    background-color: var(--azul-base);
    transition: 0.2s;
}

/*=============FEED_downperfil=============*/
.posts_etc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    border-bottom: 1px solid var(--branco-base);
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    background-color: var(--preto-de-fundo);
    color: var(--branco-base);
}
.posts_etc .postagens .postagens-svg rect{
    stroke: var(--branco-base);
}

.posts_etc .salvos .salvos-svg line{
    stroke: var(--branco-base);
}
.posts_etc .salvos .salvos-svg path{
    stroke: var(--branco-base);
}

.posts_etc .gabaritos .gabaritos-svg rect{
    stroke: var(--branco-base);
}
.posts_etc .gabaritos .gabaritos-svg line{
    stroke: var(--branco-base);
}

/*=============FEED==============*/
.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 3rem;
    background-color: var(--preto-de-fundo);

}
.card-body{
    background-color: var(--verde-base);
}

/*=============FOOTER=============*/
footer{
    background-color: var(--preto-base);
}
.rodaPE{
    justify-content: center; 
    align-items: center;
}
footer .rodaPE {
    height: auto;
    padding: 30px 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--branco-base);
    text-decoration: none
}
footer a:hover{
    text-decoration: none;
    color: var(--verde-base);
}
footer a{
    text-decoration: none;
    color: var(--branco-base);
}