@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:wght@400;700&display=swap');

:root{
    --verde-base: #3DF5A7;
    --azul-base: #096FE0;
    --preto-base: #0f0f0f;
    --branco-base: #f0f0f0;
    --branco-fundo: #E6E6E6;
    --preto-fundo: #1B1B1B;

}

body{
    background-color: var(--preto-fundo);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-fundo{
    width: 30rem;
    margin-top: 3rem;
}

.cadastro {
    background-color: var(--verde-base);
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;

    border: 1px solid var(--preto-base);
    border-radius: 2rem;
    padding: 4rem 2rem;

    margin-top: 4rem;
}

.toptitle{
    color: var(--azul-base);
    font-family: 'Black Han Sans', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cadastro_div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}




.button {
    border: none;
    color: var(--branco-base);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--azul-base);
    border: 2px solid var(--azul-base);
    border-radius: 20rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: 300ms;
}
button:hover{
    border: 2px solid var(--azul-base);
    background-color: var(--verde-base);
    color: var(--preto-base);
    transition: 300ms;
}
