<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/bhead') %>
    <link rel="stylesheet" href="./style-cadastro-login/cadastro-login.css">
    <title>Cadastre-se ou Faça seu Login</title>
</head>

<body>
    <div class="voltar">
        <a href="index.html">
            <h4>&#8656;Voltar para a página inicial</h4>
        </a>
    </div>

    <main class="escolha">
        <a class="login" onmouseover="login()" onmouseout="backgroundLogin()" href="login.html">Quero Fazer meu Login</a>
        <a class="cadastro" onmouseover="cadastro()" onmouseout="backgroundCadastro()" href="cadastro.html">Quero Fazer meu Cadastro</a>
    </main>

    <script src="/js/cadastro-login.js"></script>
</body>
</html>