<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Error 404</title>
</head>
<body>
    <h1>Error 404</h1>
    <h3>
        Desculpe, esta página está em construção.<br><br>
        Fique atento para novas novidades!!!<br><br>

        <a href="index.html">Voltar para a página inicial</a>
    </h3>
</body>
</html>