<footer>
    <div>
        &copy;copyright 2022
    </div>
    <div>
        <a href="/erro">Desenvolvedores</a>
    </div>
    <div>
        <a href="/erro">Precisa de ajuda?</a>
    </div>
</footer>