@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.barra-lateral {
  background-color: var(--branco-base);
  font-size: 1rem;
  display: flex;
  position: fixed;
  margin-top: var(--header);
  height: 100%;
  width: var(--barra-lateral);
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  gap: 2rem;
}

.lista li span,
.lista li a {
  text-decoration: none;
  color: var(--preto-base);
}

.lista li span:hover,
.lista li a:hover {
  color: var(--azul-base);
  cursor: pointer;
}

.lista li {
  background-color: var(--branco-de-fundo);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--barra-lateral);
  height: 60px;
  border-radius: 7px;
  transform: scale(0.9);
  transition: all ease 0.3s;
  color: var(--preto-base);
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;

  font-family: "Roboto", sans-serif;
}

.lista li:hover {
  transform: scale(1);
  opacity: 1;
}

.lista li {
  text-decoration: none;
}

li {
  text-decoration: none;
}

h3 {
  text-decoration: none;
}