*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
header{
    background-color: #f0f0f0;
}


.logo{
    width:150px; 
}

.divBusca{
    background-color: #FFFFFF;
    border-radius:15px;
    width: fit-content;
    border: 1px solid;
}
  
.txtBusca{
    background-color:transparent;
    padding-left:10px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:25px;
    width: 250px;
    margin-right: 3rem;
}

.btnBusca{
    padding-right: 7px;
    padding-bottom: 4px;
}
