*{
    box-sizing: border-box;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
header{
    background-color: #f0f0f0;
}


.logo{
    width:150px; 
}

.d-flex{
    position: absolute;
    padding-top: 35px;
    left: 250px;
    
}

.rodaPE{
    text-align: center;
    padding: 45px;
    background-color: #FFFFFF ;
    display: flex;


}




.divBusca{
    background-color: #FFFFFF;
    border-radius:15px;
    max-width: 100px;
    border: 1px solid;
}
  
.txtBusca{
    background-color:transparent;
    padding-left:10px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:25px;
    width: 250px;
    margin-right: 3rem;
}

.btnBusca{
    padding-right: 7px;
    padding-bottom: 4px;
}

