*{
    box-sizing: border-box;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

/* inicio do site*/
header{
    background-color: #0f0f0f;
}
/*LOGO*/
.logo{
    width:150px; 
}
/*barra de pesquisa*/
.divBusca{
    background-color: #FFFFFF;
    border: 1px solid;
    width: max-content;
}
.txtBusca{
    background-color:transparent;
    padding-left:10px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:25px;
    width: 20rem;   
    box-shadow: 0 0 0 0;
    outline: 0;
}
.btnBusca{
    padding-right: 7px;
    padding-bottom: 4px;
}
/*botão tema claro ou escuro*/
.tema{
    border: -1px;
    border-radius: 100%;
}
/*section coluna de navegação/feed*/
section{
    background-color: #1b1b1b;
}
/*Coluna de navegação*/
.barra-lateral{
    background-color: #0f0f0f;
    color:#f0f0f0;
    font-size:1.00em;
}
li{
    list-style-type: none;
    padding: 2% 5%;
    margin-left:10% ;
}
/*feed*/
.feed{
    background-color: #1b1b1b;
}
.row{
    --bs-gutter-x: 0rem !important;
}
.links {
    text-decoration: none;
    color: #ffffff;
}

.links:hover{
    text-decoration: none;
    color:#3DF5A7;
}
.lupa{
    border: none;
    background-color: transparent;
}

.card{
    background-color: #0f0f0f;
    border: 1px solid #0f0f0f;
    margin-bottom: 3rem;
}
.card-body{
    background-color: #3DF5A7;
}
/*FOOTER*/
footer{
    background-color: #0f0f0f;
}
.rodaPE{
    justify-content: center; 
    align-items: center;
}

footer .rodaPE {
    height: auto;
    padding: 30px 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: #f0f0f0;
    text-decoration: none
}
footer a:hover{
    text-decoration: none;
    color: #3DF5A7;
}

footer a{
    text-decoration: none;
    color:#FFFFFF
}
@media screen and (max-width: 768px) {

    .navegacao{
        display: none;
    }

    .parte3Header{
        display: none;
    }
    
}