*{
    box-sizing: border-box;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

.col, .logo{
    width:200px; 
    height:100px; 
    padding-top: 6px;
    margin-top: -10px;
    margin-left: -15px;
}

.row{
    background-color: #F0F0F0;
}

.d-flex{
    position: absolute;
    padding-top: 35px;
    left: 250px;
    
}

.rodaPE{
    text-align: center;
    padding: 45px;
    background-color: #FFFFFF ;
    display: flex;


}

.copy{
    
}
.nos{

}
.ajuda{

}