h2 {
  color: var(--azul-base);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.caixaInputs {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  padding: 2%;
  margin-top: 37rem;
  margin-bottom: 38rem;
  justify-content: center;
  color: var(--preto-base);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/*formulário*/
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30vw;

}

.inputs_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs_div label{
   text-align: start;
}

.input_inputs {
  background-color: var(--branco-maximo);
  border-radius: 0.8rem;
  border: solid 0.2px rgb(15, 11, 11);
  padding: 0.7rem;
  outline: none;
}

.error{
  color: red;
  font-size: 15px;
}
.escolaridade {
  background-color: var(--branco-maximo);
  border-radius: 0.8rem;
  border: solid 0.2px rgb(15, 11, 11);
  padding: 0.7rem;
  outline: none;
}

.enviar-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttom {
    order: none;
    color: var(--branco-maximo);
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--azul-base);
    border-radius: 20rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: 300ms;
    border: none;
    margin-left: 2rem;
}
.buttom:hover {
  background-color: var(--verde-base);
  color: var(--preto-base);
  transition: 300ms;
}
/*link-para-login*/
.link-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-login a {
  color: var(--verde-base);
  font-weight: 700;
  text-decoration: none;
}

.texto-cadrasto {
  font-size: 1rem;
}
span {
  color: var(--verde-base);
}
