/*=============GERAL=============*/
:root{
    /*cores*/
    --azul-base: #096FE0;
    --verde-base: #3DF5A7;
    --branco-base: #F0F0F0;
    --preto-base: #0F0F0F;
    --branco-de-fundo: #E6E6E6;
    --preto-de-fundo: #1B1B1B;
    --branco-maximo: #FFFFFF;
}
*{
    box-sizing: border-box;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
/*.row{
    --bs-gutter-x: 0rem !important;
}*/
/*=============HEADER=============*/
header{
    background-color: var(--branco-base);
    
}
/*Logo*/
.logo{
    width: 150px; 
    margin-top: -13px;
}

/*barra de pesquisa*/

.pesquisa{
    padding-top: 30px;
}
.divBusca{
    background-color: var(--branco-maximo);
    width: max-content;
}
.txtBusca{
    background-color:transparent;
    padding-left:10px;
    font-style:italic;
    font-size:14px;
    border:none;
    height:25px;
    width: 20rem;
    outline: none;
}
.btnBusca{
    padding-right: 7px;
    padding-bottom: 4px;
}
.lupa{
    border: none;
    background-color: transparent;
}


/*links*/

.links {
    padding-top: 30px;
    text-decoration: none;
    color: var(--preto-base);
}
.links:hover{
    text-decoration: none;
    color:var(--azul-base);
}
/*botão de troca de tema*/

.botao{
    align-items: center;
    padding-top: 30px;
}
.input-check{
    display: none;
}
label.checkbox svg{
    fill: var(--preto-base);
}

/*menu-hamburguer*/


#btn-mobile {
    display:none;
}


/*=============FEED=============*/
section{
    background-color: var(--branco-de-fundo);
}
/*Coluna de navegação*/

.barra-lateral {
    background-color: var(--branco-base);
    font-size:1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
    gap: 3rem;
}
.barra-lateral a{
    text-decoration: none;
    color:var(--preto-base);
}
.barra-lateral a:hover{
    color: var(--azul-base);
}
li{
    list-style-type: none;
    padding: 2% 5%;
    margin-left:10% ;
}
/*feed*/
.feed{
    padding-top: 2rem;
    background-color: var(--branco-de-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-3 navegacao{
    text-decoration: none;
}
.card{
    background-color: var(--preto-base);
    border: 1px solid var(--preto-base);
    margin-bottom: 3rem;
}
.card-body{
    background-color: var(--azul-base);
}

/*=============FOOTER=============*/
footer{
    background-color: var(--branco-base);
}
.rodaPE{
    justify-content: center; 
    align-items: center;
}
footer .rodaPE {
    height: auto;
    padding: 30px 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--preto-base);
    text-decoration: none
}
footer a:hover{
    text-decoration: none;
    color: var(--azul-base);
}
footer a{
    text-decoration: none;
    color: var(--preto-base);
}

/*=============MOBILE=============*/
@media (max-width: 600px) {

    .txtBusca{
        background-color:transparent;
        padding-left:10px;
        font-style:italic;
        font-size:14px;
        border:none;
        height:25px;
        /*width: 20rem;*/
        outline: none;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background-color: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transform: .6s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    
    #menu {
        display:block;
        position: static;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--branco-base);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(1000vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        font-size: large;
    }

    .alin-itens{
        text-align: center;
        padding: 3% 0;
    }
    .feed{
        padding-top: 2rem;
        background-color: var(--branco-de-fundo);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .col-3 navegacao{
        text-decoration: none;
    }
    .card{
        background-color: var(--preto-base);
        border: 1px solid var(--preto-base);
        margin-bottom: 3rem;
    }
    .card-body{
        background-color: var(--azul-base);
    }
    
    .barra-lateral {
        background-color: var(--branco-base);
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: flex-start;
        gap: 0rem;
    }
    .botao{
        align-items: center;
        padding-top: 2px;
    }
    .links {
        font-size: 20px;
        padding-top: 0px;
        text-decoration: none;
        color: var(--preto-base);
    }
    #log{
        padding-left: 50px;
    }
    #not{
        padding-right: 50px;
    }
}
